// ========================================================
// @utility: inline paragraphs
// ========================================================
//

// component block
//
.u-inlineParagraphs {
  margin-top: 24px;
  margin-bottom: 40px;
}

.u-inlineParagraphs p {
  display: inline;
  line-height: 50px;
}
