// ========================================================
// @component: input
// ========================================================
//

// component config
//
$input-inline-max-width: 120px;
$input-inline-padding-horizontal: 10px;
$input-inline-padding-vertical: 7px;

// component block
//
.c-input {
  // component modifiers
  //
  &--inline {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;

    input {
      max-width: $input-inline-max-width;
      padding-top: $input-inline-padding-vertical;
      padding-bottom: $input-inline-padding-vertical;
      padding-left: $input-inline-padding-horizontal;
      padding-right: $input-inline-padding-horizontal;
    }
  }
}
